body {
	font: 12px Arial, Helvetica, sans-serif;
}

#page-container {
	width: 940px;
	margin: 0 auto;	
}

textarea.title-text {
	width: 200px;
	height: 60px;
	border: 0;
}

#embed-code textarea {
	width: 95%;
	height: 200px;
}



.secondary { 
	margin-left: 20px;
} 

.field-desc {
	display: inline-block;
	font-style: italic;
	font-size: small;
	width:100px;
}
.field-desc-p {
	
	font-style: italic;
	font-size: small;
	
}

.highlight {
	color: #666;
	font-style: italic;
}

.clear {
	clear: both;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.hide {
	display: none;
}

.float-left{ 
	float: left;
}
.margin-right{ 
	margin-right: 20px;
}
h1 {
	font-size:16px;
	text-align:center;
}
h2 { 
	padding-top:20px;
	font-size:14px;
	
}
h2.border {
	border-top:#CCC thin dashed;
}
#stage {
	opacity:0.9;
	background-image:url(overlay.png);
	background-repeat: repeat;
	width:100%;
	position:absolute;
	top: 0;
	left:0;
	z-index:90;
}

#banner-container {
	position:absolute;
	text-align:right;
	z-index:99;
	padding:10px;
	background-color:#fff;
	border-color:#eee; border-radius:10px;
}
#closer {
	color:#f00;
	cursor:pointer;
	margin:2px 5px;
}




